<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="{% static "styles/styles.css" %}"/>

    <title>{{ _("Hordes and Lords – Oroboro Games") }}</title>
</head>
<body>

<div id="title">
    <div class="content">
        <div class="logo">
            <a href="/">
                <img src="{% static "images/title-logo.png" %}"/>
            </a>
        </div>
        <div class="nav">
            <a href="{% url "home" %}#projects">{{ _("Projects") }}</a>
            <a href="{% url "home" %}#news">{{ _("News") }}</a>
            <a href="{% url "home" %}#about">{{ _("About Us") }}</a>
        </div>
    </div>
</div>

{% include "paragraph.html" %}
{% include "../../statistics.html" %}
</body>
</html>
