<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!--meta name="viewport" content="width=device-width, initial-scale=1"/-->
    <link rel="stylesheet" href="/styles/styles.css"/>

    <title>Oroboro Games</title>
</head>
<body>

<div id="title">
    <div class="content">
        <div class="spacer"></div>
        <div class="logo">
            <a href="/">
                <img src="/images/title-logo.png"/>
            </a>
        </div>
        <div class="spacer"></div>
        <a href="#projects" data-target="projects">Projects</a>
        <a href="#news" data-target="news">News</a>
        <a href="#about" data-target="about">About Us</a>
        <div class="spacer"></div>
    </div>
</div>

{% include "paragraph-projects.html" %}
{% include "paragraph-news.html" %}
{% include "paragraph-about.html" %}

<div class="rotating-snake"></div>
<div class="to-top"></div>

<script type="text/javascript" src="/js/jquery-2.1.0.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

{% include "statistics.html" %}

</body>
</html>
