{% extends "paragraph.html" %}

{% block anchor %}privacy{% endblock %}

{% block paragraph_title_first_letter %}
P
{% endblock %}

{% block paragraph_title %}
Privacy Policy
{% endblock %}

{% block paragraph_body %}
<div class="content privacy">
    <p>This Privacy Policy applies to our games, websites and related services, which we here collectively call the Service. We may periodically update this Privacy Policy by posting a new version on oroborogames.net. If we make any material changes, we will notify you by posting a notice in the Service prior to the change becoming effective.</p>


    <p>This page is used to inform visitors regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our Service.</p>

    <p>If you choose to use our Service, then you agree to the collection and use of information in relation to this policy. The Personal Information that we collect is used for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy.</p>

    <p>The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible at Feuds unless otherwise defined in this Privacy Policy.</p>

    <h1>Information Collection and Use</h1>

    <p>For a better experience, while using our Service, we may require you to provide us with certain personally identifiable information. The information that we request will be retained by us and used as described in this privacy policy.</p>

    <p><b>Data you provide us:</b></p>
<ul>
    <li>Contact information (such as name and email address);</li>
    <li>Player name and password;</li>
    <li>Profile information (such as profile photo);</li>
    <li>Your messages to the Service (such as chat logs and player support tickets);</li>
    <li>Other data you choose to give us (such as data to identify a lost account).</li>

</ul>

    <p><b>Data we collect automatically:</b></p>
    <ul>
        <li>Data about your account and game progress;</li>
        <li>Your IP address and mobile device identifiers (such as your device ID, advertising ID, MAC address, IMEI);</li>
        <li>Data about your device, such as device name and operating system, browser type and language;</li>
        <li>Data we collect with cookies and similar technologies (see more below);</li>
        <li>General location data;</li>
        <li>Precise geo-location data (GPS, with your consent);</li>
        <li>Data about your use of the Service, such as gameplay data and your interactions with other players inside the Service.</li>
    </ul>

    <p><b>Data we collect from our partners:</b></p>

    <ul>

        <li>Data we receive if you link a third party tool with the Service (such as Facebook, Unity or Google);</li>
        <li>Demographic data (such as to determine the coarse location of your IP address);</li>
        <li>Data to fight fraud (such as refund abuse in games or click fraud in advertising);</li>
        <li>Data from platforms that the games run on (such as to verify payment);</li>
        <li>Data for advertising and analytics purposes, so we can provide you a better Service.</li>
    </ul>


    <h1>Log Data</h1>

    <p>We want to inform you that whenever you use our Service, in a case of an error in the app we collect data and information (through third party products) on your phone called Log Data. This Log Data may include information such as your device Internet Protocol (“IP”) address, device name, operating system version, the configuration of the app when utilizing our Service, the time and date of your use of the Service, and other statistics.</p>



    <h1>Service Providers</h1>

    <p>We may employ third-party companies and individuals due to the following reasons:</p>

    <ul>
        <li>To facilitate our Service;</li>
        <li>To provide the Service on our behalf;</li>
        <li>To perform Service-related services; or</li>
        <li>To assist us in analyzing how our Service is used.</li>
    </ul>

    <p>We want to inform users of this Service that these third parties have access to your Personal Information. The reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.</p>


    <h1>Security</h1>

    <p>We value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.</p>



    <h1>Changes to This Privacy Policy</h1>

    <p>We may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately after they are posted on this page.</p>



    <h1>Contact Us</h1>

    <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us:</p>
    <ul>
        <li>Email: <a href="mailto:info@oroborogames.net">info@oroborogames.net</a></li>
    </ul>
</div>
{% endblock %}
