{% extends "paragraph.html" %}

{% block anchor %}projects{% endblock %}

{% block paragraph_title_first_letter %}
P
{% endblock %}

{% block paragraph_title %}
Projects
{% endblock %}

{% block paragraph_body %}
<div class="coming-soon">
    <div class="link-wrapper" style="position: relative">
        <span class="link">Coming Soon</span>
        <!--img src="/images/when-its-done.png" style="position: absolute; top: 209px; left: 22px;"-->
    </div>
</div>
<div class="content">
    {% include "project-tv.html" %}
    {% include "project-hal.html" %}
</div>
{% endblock %}
