{% extends "paragraph.html" %}

{% block anchor %}about{% endblock %}

{% block paragraph_title_first_letter %}
A
{% endblock %}

{% block paragraph_title %}
About Us
{% endblock %}

{% block paragraph_body %}
<div class="content about">
    <div class="item">
        <img src="/images/avatar-sd.png" />
        <div class="info">
            <div class="name">
                Yarg
            </div>
            <div class="dial-line">
                <div class="label">Class:</div>
                <div class="label">Level:</div>
            </div>
            <div class="dial-line">
                <div class="value">Programmer</div>
                <div class="value level"></div>
            </div>
            <div class="parameters">
                <div class="parameter" data-values="coding:Programming:170:220">
                </div><div class="parameter" data-values="melee:Melee damage:50:150|ranged:Ranged damage:50:150">

                </div><div class="parameter" data-values="beer:Beer drinking:50:150|banking:Treasure seeking:50:150">

                </div><div class="parameter" data-values="necromancy:Necromancy:10:60|fireball:Fire Magic:10:60"></div>
            </div>
        </div>
    </div>

    <div class="item">
        <img src="/images/avatar-ts.png" />
        <div class="info">
            <div class="name">
                Titus
            </div>
            <div class="dial-line">
                <div class="label">Class:</div>
                <div class="label">Level:</div>
            </div>
            <div class="dial-line">
                <div class="value">Designer</div>
                <div class="value level"></div>
            </div>
            <div class="parameters">
                <div class="parameter" data-values="art:Drawing:170:220">
                </div><div class="parameter" data-values="melee:Melee damage:50:150|ranged:Ranged damage:50:150">

                </div><div class="parameter" data-values="beer:Beer drinking:50:150|banking:Treasure seeking:50:150">

                </div><div class="parameter" data-values="necromancy:Necromancy:10:60|fireball:Fire Magic:10:60"></div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <a href="mailto:info@oroborogames.net">
        <img src="/images/mail.png" />
        <span>info@oroborogames.net</span>
    </a>
</div>
{% endblock %}
